<div class ="col-10 offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="https://github.com/HortusHonu">Eric</a>. An experienced robot programmer on a mission to change his career path for a better life.
	</p>
	<br />
	<p>
		Proficient in many industrial robot languages, Eric is advancing his career starting by learning full-stack web development.
	</p>
	<br />
	<p>
		If you want to learn how to code - start <a target="_blank" href="http://thefirehoseproject.com/"> here</a>
	</p>

	<div class="row">
		<div class="col-12 col-sm-4">
			<%= image_tag 'Eric_profile.jpg', class: 'img-fluid' %>
		</div>

		<div class="col-12 col-sm-7 offset-sm-1">
			<h2 class="text-center">Eric Knight</h2>
			<p>
				In the last 16 years Eric has traveled the United States and the world programming robots and automated equipment for industrial companies such as GM, Ford, Chrysler, Honda, Tesla, BMW, and John Deere. He specializes in the joining applications: arc and resistence welding, riveting, clinching, sealing, glueing, and through material handling applications such as vision and inspection he has helped integrate robots into factory assembly lines for many customers. Quality, throughput, troubleshooting, communications, sensors, and cycle time are among his talents and main focus.
			</p>
		</div>
	</div>
	<br class="clear"/>
	<br />
	<br />
	<br />
	<br />

</div>