<div class ="col-10 offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="https://github.com/HortusHonu">Eric</a>. An experienced robot programmer on a mission to change his career path for a better life.
	</p>
	<br />
	<p>
		Proficient in many industrial robot languages, Eric is advancing his career starting by learning full-stack web development.
	</p>
	<p>
		If you want to learn how to code - start <a target="_blank" href="http://thefirehoseproject.com/"> here</a>
	</p>

	<div class="row">
		<div class="col-12 col-sm-4">
			<%= image_tag 'Eric_profile.jpg', class: 'img-fluid' %>
		</div>

		<div class="col-12 col-sm-7 offset-sm-1">
			<h2 class="text-center">Eric Knight</h2>
			<br />
			<p>
				In the last 15 years Eric has traveled the United States and the world programming robots and automated assembly equipment for automotive and industrial companies such as GM, Ford, Chrysler, Honda, Tesla, BMW, and John Deere.
			</p>
		</div>
	</div>
	<br class="clear"/>
	<br />
	<br />
	<br />
	<br />

</div>